# /config/config.go
# /config/db.go
# .env

# Ignore actual sensitive files
.env
config/config.go
config/db.go

# Do not ignore example/template files
!.env.example
!config/config.example.go

# Binaries
*.exe
*.out
*.test
/app
/main

# Environment files
.env
.env.*

# IDE/editor config
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# (optional) kalau kamu gak pakai vendor
/vendor/
